<div id="home" class="header">
  <div class="uk-background-cover uk-light" uk-height-viewport uk-parallax="bgy: -200;" style="background: url(photos/tophint03.jpg);">
    <div class="uk-flex uk-sina-up uk-flex-column">
      <div class="uk-width-1 margin-sina">
        <h1 class="nothing nsina">Sina</h1>
      </div>
      <div class="uk-flex uk-flex-row uk-flex-center">
        <div class="uk-m">
          <a href="" class="uk-icon-button" uk-icon="icon:whatsapp; ratio:0.9"></a>
          <div uk-dropdown="pos:bottom-center; mode:click;">
            <ul class="uk-nav uk-dropdown-nav">
              <li class="uk-nav-header">WhatsUp</li>
              <li class="uk-flex">
                <a class="uk-width-1-2 uk-pa tcall" href="whatsapp://call?number=+971522586593‬">Call</a>
                <a class="uk-width-1-2 uk-pa tsms" href="https://wa.me/+971522586593‬">Chat</a>
              </li>  ‭
            </ul>
          </div>
        </div>
        <div class="uk-m">
          <a href="" class="uk-bottom uk-icon-button" uk-icon="icon:receiver; ratio:1"></a>
          <div uk-dropdown="pos:bottom-center; mode:click;">
            <ul class="uk-nav uk-dropdown-nav">
              <li class="uk-nav-header">Mobilphone</li>
              <li class="uk-flex">
                <a class="uk-width-1-2 uk-pa tcall" href="tel:+971522586593‬">Call</a>
                <a class="uk-width-1-2 uk-pa tsms" href="sms:+971522586593‬">SMS</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="uk-m">
          <a href="" class="uk-icon-button" uk-icon="icon:mail; ratio:1"></a>
          <div uk-dropdown="pos:bottom-center; mode:click;">
            <ul class="uk-nav uk-dropdown-nav">
              <li class="uk-nav-header">Email</li>
              <li class="uk-flex">
                <a class="uk-width-1-1 uk-pa etsms" href="mailto:sina080818@gmail.com">open mail</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="uk-position-bottom-center uk-position-large">
        <a href="#nav" uk-icon="icon:chevron-down; ratio:3" uk-scroll></a>
      </div>
    </div>
  </div>
</div>

<div class="sinnav nav-top uk-hidden@s" uk-sticky="show-on-up:true; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; animation: uk-animation-slide-top; bottom: true">
  <nav id="nav" class="uk-navbar uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-iconnav">
          <li><a href="#home" uk-icon="icon: home; ratio:1.23" uk-scroll></a></li>
          <li><a href="#gallery" uk-icon="icon: image; ratio:1.23" uk-scroll></a></li>
          <li><a href="#end" uk-icon="icon: arrow-down; ratio:1.23" uk-scroll></a></li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <a href="#" class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-flip"></a>
    </div>
    <div id="offcanvas-flip" uk-offcanvas="mode: slide; flip: true; overlay: true">
      <div class="uk-offcanvas-bar uk-flex uk-flex-column">
        <div class="uk-flex">
           <button class="uk-offcanvas-close" type="button" uk-close></button>
        </div>
        <div class="uk-flex uk-flex-center uk-margin-auto-vertical z-1001">
          <ul class="uk-nav-default uk-width-auto uk-text-left uk-list-divider" uk-scrollspy-nav="closest:li; scroll:true"  uk-nav>
            {{ $currentPage := . }}
            {{ range .Site.Menus.global }}
              <li>
                <a href="{{ .URL }}">
                  {{ .Pre }}
                  <span>{{ .Name }}</span>
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>

<div id="nav" class="nav-top uk-visible@s" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky;">
  <nav class="uk-navbar uk-navbar-container uk-background-default" uk-navbar>
    <div class="uk-navbar-center">
      <ul class="uk-navbar-nav" uk-scrollspy-nav="closest:li; scroll:true">
        {{ $currentPage := . }}
        {{ range .Site.Menus.global }}
          <li>
            <a href="{{ .URL }}">
              {{ .Pre }}
              <span>{{ .Name }}</span>
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  </nav>
</div>
