<div class="uk-visible@s" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; show-on-up:true; animation: uk-animation-slide-top; bottom: #sticky-on-scroll-up">
  <nav class="uk-navbar uk-navbar-container" uk-navbar="dropbar:true;">
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo" href="#">
        <img src="images/logos/logo-sw.svg" width="30" height="36" uk-svg>
      </a>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li class="uk-active">
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Product</a>
        </li>
        <li>
          <a href="#">Company</a>
        </li>
        <li>
          <a href="#">News</a>
        </li>
      </ul>
    </div>
  <div class="uk-navbar-dropbar uk-navbar-dropbar-slide"></div>
  </nav>
</div>

<div class="uk-hidden@s" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; show-on-up:true; animation: uk-animation-slide-top; bottom: #sticky-on-scroll-up">
  <nav class="uk-navbar uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo" href="#">
        <img src="images/logos/logo-sw.svg" width="30" height="36" uk-svg>
      </a>
    </div>

    <div class="uk-navbar-right">
      <a  href="#offcan" class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcan"></a>
    </div>
  </nav>
</div>

<div class="uk-section uk-padding-remove">
  <div class="uk-background-cover uk-light" uk-height-viewport uk-parallax="bgy: -200; grayscale: 10%;" style="background-image: url(images/bilder/stock04.jpg);">
    <div class="uk-container logo-h">
      <div class="uk-position-center uk-flex uk-flex-column">
        <div class="" uk-parallax="opacity: 1,0; blur: 5;">
          <img src="images/logos/logo-sw.svg" width="120" height="150" uk-svg>
        </div>
      </div>
    </div>
  </div>
</div>