<div id="gallery" class="uk-position-relative uk-visible-toggle uk-light uk-width-1-1" uk-slideshow="ratio: 16:9; animation: push" style="overflow: hidden;">
  <ul class="uk-slideshow-items">
    <li>
      <img src="images/girl-02.jpg" alt="" uk-cover>
    </li>
    <li>
      <img src="images/girl-04.jpg" alt="" uk-cover>
    </li>
    <li>
      <img src="images/girl-05.jpg" alt="" uk-cover>
    </li>
    <li>
      <img src="images/girl-06.jpg" alt="" uk-cover>
    </li>
    <li>
      <img src="images/girl-07.jpg" alt="" uk-cover>
    </li>
  </ul>
  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
  <div class="uk-position-bottom-center uk-position-small uk-visible@s">
    <ul class="uk-thumbnav">
      <li uk-slideshow-item="0"><a class="uk-box-shadow-large" href="#"><img src="images/girl-02.jpg" width="100" alt=""></a></li>
      <li uk-slideshow-item="1"><a class="uk-box-shadow-large" href="#"><img src="images/girl-04.jpg" width="100" alt=""></a></li>
      <li uk-slideshow-item="2"><a class="uk-box-shadow-large" href="#"><img src="images/girl-05.jpg" width="100" alt=""></a></li>
      <li uk-slideshow-item="3"><a class="uk-box-shadow-large" href="#"><img src="images/girl-06.jpg" width="100" alt=""></a></li>
      <li uk-slideshow-item="4"><a class="uk-box-shadow-large" href="#"><img src="images/girl-07.jpg" width="100" alt=""></a></li>
    </ul>
  </div>
</div>

<div id="travel" class="uk-position-relative" style="overflow: hidden;">
  <div class="uk-section uk-section-small uk-section-large@s uk-section-default uk-background-cover" uk-parallax="bgy: 200; viewport: 1" style="background-image: url(images/himmel2.jpg);">
    <div class="uk-hidden@s uk-overlay uk-overlay-default uk-position-cover"></div>
    <img class="uk-hidden@s uk-position-absolute uk-position-bottom-right" data-src="images/burj.png" width="220" height="" alt="" uk-img uk-parallax="y: 300,50;" style="opacity: 0.2">
    <img class="uk-visible@s uk-position-absolute uk-position-bottom-right" data-src="images/burj.png" width="320" height="" alt="" uk-img uk-parallax="y: 300,50;" style="opacity: 0.8">
    <div class="uk-container uk-container-small">
      <div class="uk-grid-large uk-position-relative" uk-grid>
        <div class="uk-width-2-3@s" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
          <h3 class="uk-heading-primary uk-text-left lato-100">
          I'm your Travelguid
        </h3>
          <p class="uk-text-left">
            While we’re all for porn you can watch, sometimes porn you can read can be even better. Erotic fiction, or literotica as it’s sometimes called, allows you to be in control of the fantasy. You choose what kind of story to read, you set the pace, you pick which parts to skim or skip (or read again), and you use your imagination to picture exactly what’s happening.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
