svg.sinalogo {
  height: auto;
  width: 100%;
}

:root {
  --aweiss: color-mod(white alpha(80%));
  --sweiss: color-mod(white alpha(90%));
  --asw: gray(50);
  --ssw: gray(50);
}

#logoschwarz {

  path.letter {
    fill: var(--asw);
  }
  path.sletter {
    fill: var(--ssw);
  }
  path.flowback {
    fill: gray(50);
  }
  path.flowgelb {
    fill: #C90004;
  }
  path.flowrot {
    fill: #FEFE0A;
  }
}

#logoweiss {

  path.letter {
    fill: var(--aweiss);
  }
  path.sletter {
    fill: var(--sweiss);
  }
  path.flowback {
    fill: gray(80);
  }
  path.flowgelb {
    fill: var(--rot);
  }
  path.flowrot {
    fill: #FEFE0A;
  }
}

.wrapper {
  height: 100%;
}

.header {
  z-index: 0;
}

.lato-100 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.lato-300 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.nothing {
  font-family: 'Nothing You Could Do', cursive;
  font-weight: 400;
}

p > a {
  background-color: transparent;
  color: inherit;
  padding-bottom: 1px;
  text-decoration: none;
  transition: background .3s cubic-bezier(0.33, 0.66, 0.66, 1);
  border-bottom: 3px solid #b4e7f8;
  box-shadow: inset 0 -4px 0 #b4e7f8;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

p > a:hover {
  text-decoration: none;
  background-color: #b4e7f8;
  color: #000;
}

.uktop {
  border-bottom: 1px solid #E5E5E5;
}

.uk-navbar-nav > li > a {
  position: relative;
}

.uk-navbar-nav > li > a::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  height: 2px;
  background-color: transparent;
  transition: .3s ease-in-out;
  transition-property: background-color, border-color, box-shadow, height, right;
  right: 100%;
  left: 0;
}

.uk-dropdown:before {
  @util triangle(10px, #f8f8f8, up);
  position: absolute;
  content: "";
  top: -10px;
  left: 43%;
}

.margin-sina {
}

h1.nsina {
  font-size: responsive 60px 120px;
}

#prices.uk-section-large {
  padding-top: 20px;
  padding-bottom: 20px;

  @media (--small) {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (--medium) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.uk-dropdown-nav > li > a {
  color: red;
}

.uk-nav > li > a {
  padding: 10px 0;
}

.tcall {
  box-shadow: inset -5px 5px 3px -6px rgba(0,0,0,0.3);
}

.tsms {
  box-shadow: inset 5px 5px 3px -6px rgba(0,0,0,0.3);
}

.etsms {
  box-shadow: inset 5px 5px 3px -6px rgba(0,0,0,0.3);
}

.sinnav {
  box-shadow: 5px 5px 3px -6px rgba(0,0,0,0.3);
}

.uk-overlay-primary {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7) 50%, rgba(255, 0, 119, 0.3) 90%, rgba(255, 255, 255, 0.5) 100%);
}

.uk-m {
  margin: 0 10px;
}

.dshadow {
  box-shadow: inset 0px 4px 3px -2px rgba(8, 9, 11, 0.2), inset 0px -4px 2px -2px rgba(8, 9, 11, 0.1);
}

.uk-overlay-default.cloudhint {
  background: rgba(255,255,255, 0.95)
}

.uk-navbar-nav > li:hover > a::before,
.uk-navbar-nav > li.uk-active > a::before {
  right: 0;
  background-color: color-mod(var(--rot) alpha(80%));
}

.uk-nav-default > li.uk-active > a {
  color: color-mod(var(--rot) alpha(80%));
}

.thumbx .uk-box-shadow-large {
  box-shadow: 0 14px 25px rgba(0, 0, 0, 0.49);
}

.slidex .uk-box-shadow-large {
    box-shadow: 0 14px 25px rgba(0, 0, 0, 0.49);
}

.uk-heading-primary {
  font-size: 2.4rem;
  line-height: 1.2;

  @media (--small) {
    font-size: 2.8rem;
    line-height: 1.2;
  }

  @media (--medium) {
    font-size: 3rem;
    line-height: 1.2;
  }
}

.uk-icon-button {
  height: 42px;
  width: 42px;

  @media (--small) {
    height: 50px;
    width: 50px;
  }

  @media (--medium) {
    height: 55px;
    width: 55px;
  }
}

.uk-red {
  color: var(--rot);
}

.uk-light .uk-icon-button {
  background-color: rgba(255,255,255,0.2);
  color: rgba(255,255,255,0.8);
}

.overnav {
  opacity: 0.7;
}

.z-1001 {
  z-index: 1001;
}

.uk-grid-divider.uk-grid-stack > .uk-grid-margin::before {
  border-width: 0px;
}

.uk-iconnav {
  margin-left: 0px;
}

