.wrapper {
  height: 100%;
}

.lato-100 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.lato-300 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.nothing {
  font-family: 'Nothing You Could Do', cursive;
  font-weight: 400;
}

p > a {
  background-color: transparent;
  color: inherit;
  padding-bottom: 1px;
  text-decoration: none;
  transition: background .3s cubic-bezier(0.33, 0.66, 0.66, 1);
  border-bottom: 3px solid #b4e7f8;
  box-shadow: inset 0 -4px 0 #b4e7f8;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

p > a:hover {
  text-decoration: none;
  background-color: #b4e7f8;
  color: #000;
}

.uktop {
  border-bottom: 1px solid #E5E5E5;
}

.uk-navbar-nav > li > a {
  position: relative;
}

.uk-navbar-nav > li > a::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  height: 2px;
  background-color: transparent;
  transition: .3s ease-in-out;
  transition-property: background-color, border-color, box-shadow, height, right;
  right: 100%;
  left: 0;
}

.uk-navbar-nav > li:hover > a::before,
.uk-navbar-nav > li.uk-active > a::before {
  right: 0;
  background-color: red;
}

.thumbx .uk-box-shadow-large {
  box-shadow: 0 14px 25px rgba(0, 0, 0, 0.49);
}

.slidex .uk-box-shadow-large {
    box-shadow: 0 14px 25px rgba(0, 0, 0, 0.49);
}