{
  "presets": [
    ["env",
    {
      "targets":
      {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "syntax-object-rest-spread",
    "transform-object-rest-spread"
  ]
}
