{{ if (.Get "portrait") }}
  <figure class="portrait">
    <picture>
      <source media="(max-width: 375px)" srcset='{{ .Get "src" }}-375px.jpg'>
      <source media="(max-width: 420px)" srcset='{{ .Get "src" }}-420px.jpg'>
      <source media="(max-width: 640px)" srcset='{{ .Get "src" }}-640px.jpg'>
      <img src='{{ .Get "src" }}-orginal.jpg' alt='{{ .Get " alt " }}'>
    </picture>
  </figure>
{{else}}
  <figure class="landscape">
    <picture>
      <source media="(max-width: 420px)" srcset='{{ .Get "src" }}-420px.jpg'>
      <source media="(max-width: 800px)" srcset='{{ .Get "src" }}-800px.jpg'>
      <source media="(max-width: 1280px)" srcset='{{ .Get "src" }}-1280px.jpg'>
      <img src='{{ .Get "src" }}.jpg' alt='{{ .Get " alt " }}'>
    </picture>
  </figure>
{{ end }}
