<div id="gallery" class="uk-position-relative uk-visible-toggle uk-light uk-width-1-1" uk-slideshow="ratio: 9:16; animation: push" style="overflow: hidden;">
  <ul class="uk-slideshow-items">
    <li>
      <img src="photos/004.jpg" alt="" uk-cover>
    </li>
    <li>
      <img src="photos/005.jpg" alt="" uk-cover>
    </li>
    <li>
      <img src="photos/006.jpg" alt="" uk-cover>
    </li>
    <li>
      <img src="photos/007.jpg" alt="" uk-cover>
    </li>
    <li>
      <img src="photos/014.jpg" alt="" uk-cover>
    </li>
  </ul>
  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next">{{.Inner}}</a>
  <div class="uk-position-bottom-center uk-position-small uk-visible@s">
    <ul class="uk-thumbnav">
      <li uk-slideshow-item="0"><a class="uk-box-shadow-large" href="#"><img src="photos/004.jpg" width="100" alt=""></a></li>
      <li uk-slideshow-item="1"><a class="uk-box-shadow-large" href="#"><img src="photos/005.jpg" width="100" alt=""></a></li>
      <li uk-slideshow-item="2"><a class="uk-box-shadow-large" href="#"><img src="photos/006.jpg" width="100" alt=""></a></li>
      <li uk-slideshow-item="3"><a class="uk-box-shadow-large" href="#"><img src="photos/007.jpg" width="100" alt=""></a></li>
      <li uk-slideshow-item="4"><a class="uk-box-shadow-large" href="#"><img src="photos/014.jpg" width="100" alt=""></a></li>
    </ul>
  </div>
</div>