{{ define "main" }}

<div id="top" class="header" uk-height-viewport>
  <div class="uk-section uk-padding-remove uk-position-relative">
    <div class="uk-background-cover uk-light" uk-height-viewport="offset-top: true" style="background-image: url(images/girl-01.jpg);">
      <div class="uk-overlay uk-overlay-default uk-position-cover"  uk-parallax="background-color:rgba(255,255,255,0.7),rgba(255,255,255,0.10)"></div>
      <div class="uk-container">
        <div class="uk-position-center uk-flex uk-flex-column">
          <h1 class="uk-heading-primary">www.dubaierotic.com</h1>
          <div class="uk-text-lead">
            Comming Soon
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{end}}